body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  .rectangle-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rectangle {
    width: 60px;
    height: 60px;
    border: 2px solid green;
    padding: 10px; 
    margin: 0 10px; 
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .countdown-container {
    display: flex;
    justify-content: center;
  }