body {
  font-family: Arial, sans-serif;
  background-color: gainsboro;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.container {
  text-align: center;
}
img {
  width: 125px;
}
.rectangle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 100px;
  height: 90px;
 background-color: green;
  padding: 10px; 
  margin: 10px; 
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.countdown-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 2px;
}
h1 {
  color: red;
}
p {
   font-weight: bolder;
  font-size: larger;

}