@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --light-color: #36aa7b;
  --dark-color: #222;
  --main-color: white;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  margin: 0;
  color: var(--dark-color);
  min-height: 100vh;
  display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.anchorUP img {
  width: 40px;
}

.anchor img {
  width: 50px;
}

/* Section hero */
  .ez-bike_hero {
    max-width: 600px;
    width: 100%;
    border-radius: 0px 0px 0px 40% ;
  }

  .subhead_title h1 {
    font-size: 52px;
    color: rgb(0, 153, 97);
    margin: 0;
  }
  @media screen and (max-width: 1000px) {
    .subhead_title h1 {font-size: 40px;}
    .subhead_title {gap: 0px;}
  }

  /* Style btn hero */
    #btnCalc {
      border-radius: 20px;
      background: linear-gradient(48deg,#14b158 10%, #45dc45 90%);
      color: white;
      border: none;
      padding: 8px 15px;
      width: fit-content;
      height: fit-content;
      text-decoration: none;
      position: relative;
      z-index: 1;
    }
    
    /* transition du btn */
    #btnCalc::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(48deg,#45dc45 10%, #14b158 90%);
      z-index: -1;
      transition: opacity 0.5s linear;
      opacity: 0;
      border-radius: 20px;
    }
    
    #btnCalc:hover::before {
      opacity: 1;
    }

    #btnMap {
      border-radius: 20px;
      text-decoration: none;
      width: fit-content;
      height: fit-content;
      color: rgb(0, 153, 97);
      border: 2px solid rgb(0, 153, 97);
      padding: 8px 15px;
      transition: 0.8s;
    }

    #btnMap:hover {
      background-color: #14b158;
      color: white;
      border: 2px solid #14b158;
    }

@layer flexbox {

  /*SECTION FLEXBOX*/

  /* ANCHOR FLEX CONTAINER */

  .d-flex {
    display: flex;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .wrap-r {
    flex-wrap: wrap-reverse;
  }

  .fd-row {
    flex-direction: row;
  }

  .fd-column {
    flex-direction: column;
  }

  .row-r {
    flex-direction: row-reverse;
  }

  .g-1 {
    gap: 1rem;
  }

  .g-2 {
    gap: 2rem;
  }

  .g-3 {
    gap: 3rem;
  }

  .g-10p {
    gap: 10px
  }

  /*ANCHOR ALIGNMENT*/
  .jc-c {
    justify-content: center;
  }

  .jc-fs {
    justify-content: flex-start;
  }

  .jc-fe {
    justify-content: flex-end;
  }

  .jc-sa {
    justify-content: space-around;
  }

  .jc-se {
    justify-content: space-evenly;
  }

  .jc-sb {
    justify-content: space-between;
  }

  .ai-c {
    align-items: center;
  }

  .ai-fs {
    align-items: flex-start;
  }

  .ai-fe {
    align-items: flex-end;
  }

  .ai-s {
    align-items: stretch;
  }

  .ai-b {
    align-items: baseline
  }

  .ac-c {
    align-content: center;
  }

  .ac-fs {
    align-content: flex-start;
  }

  .ac-fe {
    align-content: flex-end;
  }

  .ac-sa {
    align-content: space-between;
  }

  .ac-sb {
    align-content: space-between;
  }

  .ac-se {
    align-content: space-evenly;
  }

  .ac-fe {
    align-content: flex-end;
  }

  .ac-s {
    align-content: stretch;
  }


  .fs-0 {
    flex-shrink: 0;
  }

  .fg-0 {
    flex-grow: 1;
  }

  .fg-1 {
    flex-grow: 1;
  }

  .fg-2 {
    flex-grow: 2;
  }

  .fg-3 {
    flex-grow: 3;
  }

  .fg-4 {
    flex-grow: 4;
  }

  .fg-5 {
    flex-grow: 5;
  }

  .fg-6 {
    flex-grow: 6;
  }

  .fg-7 {
    flex-grow: 7;
  }

  .fg-8 {
    flex-grow: 8;
  }

  .fg-9 {
    flex-grow: 9;
  }

  .fg-10 {
    flex-grow: 10;
  }

  .fg-11 {
    flex-grow: 11;
  }

  .fg-12 {
    flex-grow: 12;
  }

  .f-s {
    flex: 1 1 150px;
  }

  .f-m {
    flex: 1 1 300px;
  }

  .f-l {
    flex: 1 1 600px;
  }

  /* !SECTION FLEX*/
}

@layer grid {

  /*SECTION GRID*/

  .d-grid {
    display: grid;
  }

  .g-autofill {
    grid-template-columns: repeat(auto-fill, minmax(min(var(--col-width, 400px), 100%), 1fr));
    grid-gap: 1rem;
  }

  /*!SECTION */
}

/*ANCHOR SPACING*/

@layer spacing {

  .py-auto {
    padding-left: auto;
    padding-right: auto;
  }

  .p-0 {
    padding: 0;
  }

  .p-1 {
    padding: 1rem;
  }

  .py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .pt-5 {
    padding-top: 5rem;
  }

  .m-auto {
    margin: auto
  }

  .my-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .m-0 {
    margin: 0;
  }

  .ml-auto {
    margin-left: auto;
  }

  .mr-auto {
    margin-right: auto;
  }

  .mt-auto {
    margin-top: auto;
  }

  .m-1 {
    margin: 1rem;
  }

  .my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .mb-05{
    margin-bottom: 0.5rem
  }

  .mb-1 {
    margin-bottom: 1rem;
  }

  .mb-2 {
    margin-bottom: 2rem;
  }

  .mb-3 {
    margin-bottom: 3rem;
  }

  .mb-4 {
    margin-bottom: 4rem;
  }

  .mb-5 {
    margin-bottom: 4rem;
  }

  .mt-1 {
    margin-top: 1rem;
  }

  .mt-1_5 {
    margin-top: 1.5rem;
  }

  .mt-2 {
    margin-top: 2rem;
  }

  .mt-3 {
    margin-top: 3rem;
  }

  .mt-4 {
    margin-top: 4rem;
  }

  .mt-5 {
    margin-top: 5rem;
  }
}

/*ANCHOR SIZING*/

@layer sizing {
  .w-default {
    max-width: 1320px;
  }

  .mw-400 {
    max-width: 400px;
  }

  .mw-600 {
    max-width: 600px;
  }

  .mw-800 {
    max-width: 800px;
  }

  .mw-900 {
    max-width: 900px;
  }

  .mw-1320 {
    max-width: 1320px;
  }

  .w-full {
    width: 100%;
  }

  .h-full {
    height: 100%;
  }
}

/* SECTION STYLISATION */

.i-rond {
  max-width: 400px;
  border-radius: 400px;
}

/* ANCHOR border radius */
.br-10{
  border-radius: 10px
}

.br-3{
  border-radius: 3px
}

.br-20{
  border-radius: 20px;
}

/* !SECTION STYLISATION */

#logo {
  max-width: 100px;
}

/* SECTION NAV ET FOOTER */
/* ANCHOR style navbar */

/*-------------------SIDEBAR-------------------*/

/*CSS for Side Nav*/

header {
  width: 100%;
  background-color: var(--main-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.158), 0 3px 4px 0 rgba(75, 75, 75, 0.19);
}

.nav-link {
  display: flex;
}

.side-nav {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /*   box-shadow: var(--shadow); */
  padding-top: 4rem;
  transition: width 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.side-nav a {
  color: var(--light-color);
  text-decoration: none;
  padding: 1rem 1rem;
  transition: 300ms;
}

.side-nav a:hover {
  color: var(--light-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.side-nav.open {
  width: 75vw;
  transition: width 0.5s;
  animation: anim01 0.5s;
  z-index: 500;
}

.btn-menu {
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  z-index: 501;
}

@keyframes anim01 {
  100% {
    transform: skew(0, 0);
  }

  50% {
    margin-right: -4rem;
    transform: skew(5deg, 0);
  }

  100% {
    transform: skew(0, 0);
  }
}

/*-----------------------------BUTTON-----------------------------*/

.btn-menu__bar--bar1,
.btn-menu__bar--bar2,
.btn-menu__bar--bar3 {
  width: 35px;
  height: 5px;
  background-color:  var(--light-color);
  margin: 6px 0;
  border-radius: 2px;
}

.btn-menu__bar--bar1,
.btn-menu__bar--bar3 {
  transition: 0.5s;
}

/* Rotate first bar */
.btn-menu__bar--bar1.change {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

/* Fade out the second bar */
.btn-menu__bar--bar2.change {
  transform: scaleX(0);
}

/* Rotate last bar */
.btn-menu__bar--bar3.change {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
}

@media screen and (min-width: 800px) {
  .side-nav {
    width: auto;
    position: static;
    background-color: var(--main-color);
    box-shadow: none;
    flex-direction: row;
    padding-top: initial;
    z-index: 0;
  }

  .side-nav.open {
    width: auto;
  }

  .btn-menu {
    display: none;
  }
}

/* ANCHOR Style footer */
hr {
  width: 100%;
  height: 3px;
  border: none;
  background: linear-gradient(to right, rgb(198, 226, 98), rgb(46, 177, 122));
}
.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  color: #03775a;
}
.footernav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footernav a {
  text-decoration: none;
  font-size: 14px;
  color: #03775a;
}
.footernav h3 {
  font-size: 12px;
  color: rgb(46, 45, 45);
}

/* ANCHOR style lien et liste */


nav a, footer a {
  color: #36aa7b;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
nav a:after, footer a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #36aa7b;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after, footer a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

